:root {
	--violet: hsl(257, 40%, 49%);
	--soft-magenta: hsl(300, 69%, 71%);
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-image: url(./images/bg-desktop.svg);
	background-repeat: no-repeat;
	background-color: var(--violet);
	background-size: cover;
	margin: 0 44px;
	height: 100vh;
}

header {
	background-image: url(./images/logo.svg);
	background-repeat: no-repeat;
	background-position: 0%, 200%;
	padding: 44px 0;
	margin: 24px 0;
	overflow: hidden;
}

main {
	display: flex;
	gap: 32px;
	justify-content: space-evenly;
	width: 100%;
}

.mockup {
	overflow: hidden;
}

.container-text {
	width: 440px;
}

.container-text button {
	color: var(--violet);
	background-color: #fff;
	border-radius: 20px;
	border-color: transparent;
	padding: 8px 48px;
	box-shadow: darkblue 0px 5px 20px -4px;
}

.container-text button:hover {
	cursor: pointer;
	background-color: var(--soft-magenta);
	outline: 2px solid #fff;
	color: #fff;
}
.container-text button:active {
	box-shadow: none;
}

.heading {
	margin-top: 44px;
	font-size: 2rem;
	font-family: 'Open Sans', sans-serif;
}

.description {
	margin: 24px 0;
}

.description,
.heading {
	color: #fff;
}

.social-container {
	display: flex;
	justify-content: end;
	align-self: self-end;
}

.social-container img {
	background-color: #ffffff60;
	padding: 6px;
	border: 2px solid #fff;
	border-radius: 10px;
}

.social-container img:hover {
	background-color: #fff;
}

footer {
	position: relative;
	bottom: 0;
	display: flex;
	justify-content: center;
}
.attribution {
	font-size: 11px;
}
.attribution a {
	color: var(--soft-magenta);
}

@media (width <= 768px) {
	* {
		padding: 0;
		margin: 0;
	}

	header {
		margin: 12px 0;
		background-size: 50%;
	}

	main {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		text-align: center;
	}

	.socials-container div {
		justify-content: center;
	}
}
